html, 
body,
header,
a,
nav,
ul,
li,
section,
button,
h3,
p,
img,
 footer{ 
    margin: 0;
    padding:0 ;
}

ul,li{
    list-style: none;
}

a{
    text-decoration: none;
}

.body{
    font-family: roboto;
  }

.container{
    width: 1200px;
    margin: 0 auto;
    padding:0 15px;
    
}
/* ==========================header================================= */
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
   align-items: center;
}

.header-line{
    height: 1px;
    background: #ECECEC;
}

.logo{
 font-family: Raleway;
 text-decoration: none;
 font-weight: 700;
 line-height: 1.4;
 font-size: 26px;
 margin-left: 57,5px;
 margin-right: 46,5px;

 }
 
.firstlogo{
   color: rgba(33, 150, 243, 1);
}

.secondlogo{
    color: #fff;
}

.secondlogo2{
    color: #000000;
}

.nav{
    margin-left: -125px;
}

.nav-list{
    display: flex;
    gap: 50px;
 
    
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;

}

.contact-list{
   display: flex;
   gap: 50px;
}

.item:hover{
   color: rgba(33, 150, 243, 1);
}
.item{
    text-decoration: none;
    color: #212121;
    font-family: roboto;
    font-weight: 500;
    line-height: 1.2;
}
  


.work-headline{
text-align: center;
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
margin-top: 94px;
}

.work-item{
    margin-bottom: 94px;
    margin-top: 50px;
    margin-right: 25px;
}

.work-item:last-child{
    margin-right: 0;
}

.team{
font-family: Roboto;
font-weight: 700;
font-size: 36px;
}

.team-item{
    margin-top: 50px;
    margin-bottom: 94px;
}

.team-list{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.team-headline{
    text-align: center;
    line-height: 1.2;
    margin-top: 94px;
}


.hero-btn{
    margin: 0 auto;
    display: block;
    background-color:rgba(33, 150, 243, 1);
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-family: Roboto;
    line-height: 1.8;
}


.banner{
    font-family: Roboto;
    font-weight: 500;
}

.main-section{
   padding-top: 300px;
   padding-bottom: 300px;
    background: rgba(47, 48, 58, 1);
    

}

.main-section-h1{
    color: #fff;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin: 0 auto;
text-align: center;
 
    width: 696px;}

.feature{
    font-family: Roboto;    
font-weight: 700;
font-size: 14px;
margin-top: 94px;
margin-bottom: 94px;
}

.feature-item{
    display: flex;
    column-gap: 30px;
}

.feature-subtitle{
    font-weight: 400;
    font-size: 14px;
    color: grey; 
}

   .team{
    background: #F5F4FA;
   }

   .team-item{
    background: #fff;
   }

    .team-list{
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        justify-content: space-around;
    }

.team-img{
    margin-bottom: 30px;
}

.team-item-title{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 10px;
}

.team-item-description{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: darkgray;
    text-align: center;
    margin-bottom: 30px;
    
}

.team-social-list{
display: flex;
gap: 10px;
margin: 0 auto;
width: 206px;
padding-bottom: 30px;
}

.team-social-item{
width: 44px;
height: 44px;
border-radius: 50%;
padding: 12px;
}

.team-social-item:hover{
background-color: #2196F3;

}

.team-social-svg{
fill: #AFB1B8;
}

.team-social-svg:hover{
   fill: #fff;
}



.clients-section{

}
  
.clients-title{
text-align: center;
color: #212121;

text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 94px;
}

.clients{
display: flex;
justify-content: center;
padding-bottom: 94px;
padding-top: 50px;
gap: 30px;
}

.clients-svg{
fill: #AFB1B8;
width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid #AFB1B8;
display: flex;
justify-content: center;
align-items: center;
}

.clients-svg:hover{
    border-radius: 4px;
    border: 1px solid #2196F3;
}

.clients-img:hover{
    fill: #2196F3;
}



/* ===========================footer================================ */
a{
    text-decoration: none;
    color: currentColor;
}

footer{
    background: #2F303A;
}

.logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
text-decoration: none;
color: rgba(33, 150, 243, 1);
}

.footer-logo {
    padding-top: 60px;
    padding-bottom: 20px;

    display: flex;
}

.footer-logo-first{
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
    color: #2196F3;
}

.footer-logo-second{
    color: #FFF;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.footer-adress {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.42px;

    display: flex;
}

.footer-nav {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.42px;

    display: flex;
    padding-bottom: 60px;
}

.footer-nav:nth-child(2){
    padding-bottom: 0;
}
    /* ----------пртфоліо----------- */
    
    .nav-button{
       margin-left: 355px;
       margin-right: 355px;
    }

.custom-button{
   margin-top: 94px;
 
}

       .custom-button {
          background-color: #f0f0f0; 
          color: #000000; 
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
        }
        
        
        .custom-button:hover {
          background-color: rgba(33, 150, 243, 1);
 
          color: #ffffff; 
        }
        
      
        .custom-button:active {
          background-color: rgba(33, 150, 243, 1);
        }
      
        .services{
        list-style-type: none;
         margin: 0;
        padding: 0;
      font-family: Roboto;
      font-weight: 700;
      font-size: 36px;
    margin-top: 34px;
     display: flex;

     
}
      
.services-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 94px;
}

.services-item{
    border: 1px solid #EEE;
    background: #FFF;
    width: 392px;
height: 294px;
}

.services-img{
    margin-bottom: 20px;
}

        .services-item-title{
          font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.03em;
      margin-bottom: 10px;
      margin-left: 24px;

      }
      
      .services-item-description{
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 0.03em;
          color: darkgray;
          margin-left: 24px;
          margin-bottom: 20px;
          
      }
      
    .footer-social-list{
    display: flex;
     padding-left: 516px;
     
    }
      
    .footer-social-headline{
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
      
    .footer-social-item{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        padding: 12px;
        background-color: #FFFFFF1A;
        }

        .footer-social-item:hover{
            background-color: #2196F3;
        }

        .footer-social-svg{
          fill: #FFF;
         
        
            }