html, 
body,
header,
a,
nav,
ul,
li,
section,
button,
h3,
p,
img,
 footer{ 
    margin: 0;
    padding:0 ;
}


a{
    text-decoration: none;
}

.body{
    font-family: roboto;
  }

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 15px;
    
}

.logo{
   color: rgba(33, 150, 243, 1);
font-family: Raleway;
text-decoration: none;
font-weight: 700;
line-height: 1.4;
font-size: 26px;
}

.nav-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item:hover{
   color: rgba(33, 150, 243, 1);
}
.item{
    text-decoration: none;
    color: black;
    font-family: roboto;
    font-weight: 500;
    line-height: 1.2;
}
  
.work-headline{
text-align: center;
font-family: Roboto;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
margin-top: 94px;
}

.work-item{
    margin-bottom: 94px;
    margin-top: 50px;
}

.team{
font-family: Roboto;
font-weight: 700;
font-size: 36px;
}

.team-item{
    margin-top: 50px;
    margin-bottom: 94px;
}

.team-list{
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


.team-headline{
    text-align: center;
    line-height: 1.2;
    margin-top: 94px;
}


.hero-btn{
    margin: 0 auto;
    display: block;
    background-color:rgba(33, 150, 243, 1);
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    font-family: Roboto;
    line-height: 1.8;
}


.banner{
    font-family: Roboto;
    font-weight: 500;
}

.main-section{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 252px;
    margin-right: 252px;
    background: rgba(47, 48, 58, 1);



}

.main-section-h1{
    font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.feature{
    font-family: Roboto;    
font-weight: 700;
font-size: 14px;
margin-top: 94px;
margin-bottom: 94px;
}

.feature :nth-child(2){
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: grey; 
}
.feature :nth-child(4){font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: grey; }
.feature :nth-child(6){font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: grey; }
.feature :nth-child(8){font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: grey; }

    .feature-item{
        line-height: 1.7;
    }

    .team-list{
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
    }

.feature-headline{
    line-height: 1.2;
}

.team-item-title{
    font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.03em;
}

.team-item-description{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: darkgray;
    
}


.logo3{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-align: left;
text-decoration: none;
color: rgba(33, 150, 243, 1);
}

.footer-address{
    font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
}

.footer-contact{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-align: left;
    color: darkgrey;
    
}

  



    /* ----------пртфоліо----------- */
    a{
        text-decoration: none; 
      }
      .logo{
          color:rgba(33, 150, 243, 1);
      font-family: Raleway;
      text-decoration: none;
      font-weight: 700;
      line-height: 1.4;
      font-size: 26px;
      }
      
      .item:hover{
          color: rgba(33, 150, 243, 1);
       }
       .item{
           text-decoration: none;
           color: black;
           font-family: roboto;
           font-weight: 500;
           line-height: 1.2
           
       }
      
.custom-button{
   margin-top: 94px;
   margin-left: ;
}

       .custom-button {
          background-color: #f0f0f0; 
          color: #000000; 
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s;
        }
        
        
        .custom-button:hover {
          background-color: rgba(33, 150, 243, 1);
 
          color: #ffffff; 
        }
        
      
        .custom-button:active {
          background-color: rgba(33, 150, 243, 1);
        }
      
        .services{
        list-style-type: none;
         margin: 0;
        padding: 0;
      font-family: Roboto;
      font-weight: 700;
      font-size: 36px;
    margin-top: 34px;}
      
      
        .services-item-title{
          font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.03em;
      }
      
      .services-item-description{
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 1.2;
          letter-spacing: 0.03em;
          color: darkgray;
          
      }
      
      .footer-address{
          font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
      letter-spacing: 0.03em;
      text-align: left;
      }
      
      .footer-contact{
          font-family: Roboto;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.7;
          letter-spacing: 0.03em;
          text-align: left;
          color: darkgrey;
          
      }
      
      